@import './_variables'
@import '../../node_modules/bootstrap-styl/bootstrap/index'
@import '../../node_modules/font-awesome/css/font-awesome.css'

@import './_material-colors'
@import './nav'


@media screen and (min-width: 901px)
  .container
    width: 95%

.hidden
  display: none
  visibility: hidden
